body {
    background-color: rgb(64, 148, 209);
    color: rgb(79, 32, 32);
    text-align: center;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.divProducto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
img {
    max-height: 50px;
}
#realTimeProducts{
    min-width: 80vw;
}
